<h1> All Genres </h1>

<table id="genres_index_container" class="table">
  <!-- <th>Genre</th> <th>Options</th> <th>Number of Books</th> -->
</table>

<br />

<h4> Add a Genre: </h4>

<%= render partial: 'genre_form', locals: {genre: @genre} %>

<br />
<br />
<%= render partial: "layouts/errors", locals: {object: @genre} %>
