<h1> All Authors </h1>

<table id="authors_index_container" class="table">
  <th> Author </th>
  <th> Number of Books </th>

  <tr>
    <td class="col-1"> </td>
    <td class = col-2> </td>
  </tr>
</table>

<br />

<h4> Add an Author: </h4>

<%= render partial: 'author_form', locals: {author: @author} %>

<br />
<br />
<%= render partial: "layouts/errors", locals: {object: @author} %>
