<h1> All Authors </h1>

<table id="authors_index_container" class="table">
  <th> Author </th>
  <th> Number of Books </th>

  <tr>
    <td class="col-1"> </td>
    <td class = col-2> </td>
  </tr>
</table>

<%= button_to "Add New Author", new_author_path, :method => :get %>
