<%= javascript_include_tag params[:controller] %>

<h1> <%= @user.username %> </h1>
<br />

<div id="page_count_container"></div>
<br />
<br />

<h4> Books I Want to Read: </h4>

<table id="want_to_read" class="table">
</table>

<br />
<br />

<h4> Books I Have Read: </h4>

<table id="have_read" class="table">
</table>
