<%= javascript_include_tag 'books' %>
<h1> All Books </h1>

<table class="table" id="books_index_container">
  
</table>

<br />
<br />

<%= button_to "Add New Book", new_book_path, :method => :get %>
