// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating {
    float: left;
    width: 270px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position: absolute;
    top: 0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: url('star.png');
    transform: scale(0.6);
    font-size: 50px;
    line-height: 50px;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background: url('star_filled.png');
    transform: scale(0.6);
}
